{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}

{% block main %}
<table class="table table-striped">
    <thead>
        <tr>
            <th>Symbol</th>
            <th>Shares</th>
            <th>Price</th>
            <th>Type</th>
            <th>Total</th>
            <th>Transacted</th>
        </tr>
    </thead>
    <tbody>
        {% for transaction in transactions %}
            {% set total = transaction.shares * transaction.price %}
            <tr>
                <td><strong>{{ transaction.symbol.upper() }}</strong></td>
                <td>{{ transaction.shares }}</td>
                <td>{{ transaction.price | usd }}</td>
            {% if total < 0 %}
                <td>SELL</td>
                {% set total = total *-1 %}
                <td class="text-success">+{{ total | usd }}</td> <!-- Changes the total to show if its adding or subtracting from cash balance  -->
            {% else %}
                <td>BUY</td>
                <td class="text-danger">-{{ total | usd}}</td>
            {% endif %}
                <td>{{ transaction.date }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}